@slide-duration: 600ms;
@slide-easing: ease-out;

//
// Layouts
// Vars

@base: 32px;
@m-height: 16px;
.hidden{
display:none;
visibility:hidden;
width:0px;
height:0px;
}
.big-text {
	font-size: 36px;
	line-height: 36px;
}
.medium-text {
	font-size: 18px;
	line-height: 24px;
}
.small-text {
	font-size: 14px;
	line-height: 16px;
}

.button-text {
	font-size: 14px;
	line-height: 16px;
}

//


.wrapper {
	width: 1200px
}

aside {
	float: right;
	width: 500px;
	background-color: yellow;

	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		z-index: 5;

		li {
			position: relative;
			width: 225px;
			background-color: blue;

			&:before {
				content:'';
				width: 0px;
				height: 0px;	
				border-style: solid;
				border-width: 20px 0 20px 20px;
				border-color: transparent transparent transparent #007bff;
				display: block;
				position: relative;
				left: 225px;
				top: 16px;
				background-color: red;
				padding: 0 30px 0 0;
			}

			&:nth-of-type(even) {
				margin-left: 275px;

				&:before {
					content:'';
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 20px 20px 20px 0;
					border-color: transparent #007bff transparent transparent;
					display: block;
					position: relative;
					left: -50px;
					top: 16px;
					padding: 0 0 0 30px;
				}
			}
		}
	}
}

.timeline {
	background-color: green;
	width: 16px;
	height:100%;
	position: relative;
	z-index: 1;
	left: 50%;

}

.time-current {
}

.time-update-1 {
	margin-top: -50px;
}

.time-update-2 {
	margin-top: -50px;
}

.time-update-3 {
	margin-top: -50px;
}

.time-camp-12 {
	margin-top: -50px;
}

.time-camp-11 {
	margin-top: -50px;
}

.time-camp-10 {
	margin-top: -50px;
}

.time-camp-09 {
	margin-top: -50px;
}

.time-event-01 {
	margin-top: -50px;
}

.time-event-02 {
	margin-top: -50px;
}

.time-event-03 {
	margin-top: -50px;
}

.time-event-04 {
	margin-top: -50px;
}

.time-event-05 {
	margin-top: -50px;
}