@slide-duration: 600ms;
@slide-easing: ease-out;

//
// Layouts
// Vars

@base: 32px;
@m-height: 16px;
.hidden{
display:none;
visibility:hidden;
width:0px;
height:0px;
}
.big-text {
	font-size: 36px;
	line-height: 36px;
}
.medium-text {
	font-size: 18px;
	line-height: 24px;
}
.small-text {
	font-size: 14px;
	line-height: 16px;
}

.button-text {
	font-size: 14px;
	line-height: 16px;
}

//

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td 
                  {margin: 0;padding: 0;border: 0;outline: 0;
                  font-size: 100%;vertical-align: baseline;
                  background: transparent;}
body              {line-height: 1;}
ol, ul            {list-style: none;}
blockquote, q     {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';	content: none;}
:focus            {outline: 0;}
ins               {text-decoration: none;}
del               {text-decoration: line-through;}
table             {border-collapse: collapse;border-spacing: 0;}

body {
	background-color: #dcdcdc;
	color: #000000;
	padding: 0;
	margin:0;
	font-family: "Source Sans Pro", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight:300;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a {
	text-decoration: none;
	color: #1883ba;
	font-weight: 600;
}

html {
	position: relative;
}


@-webkit-keyframes odd {
	from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
	0% { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
	5% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
	10% { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
	to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
@keyframes odd {
	from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
	0% { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
	5% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
	10% { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
	to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

.background-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;

//	display: none;

	ul {
		width: 110%;

		li {
			float: left;
			display: inline;
			padding: 8px;


			&:nth-of-type(odd) {
				-webkit-animation-name: odd;
				-webkit-animation-duration: 20s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-timing-function: linear;

				animation-name: odd;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}
			&:nth-of-type(even) {

			}
			&:nth-of-type(3n) {

			}
			&:nth-of-type(4n) {

			}
			&:nth-of-type(5n) {

			}
			&:nth-of-type(6n) {

			}
			&:nth-of-type(7n) {

			}


		}
	}
}

.outer-wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
	z-index: 100;
	&:after {
		content:'';
		display: block;
		height: 0;
		width: 0;
		clear: both;
	}
	
}

.wrapper {
	float: left;
	width: 100%;
	display: block;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.25);
	box-shadow: 0px 0px 2px 1px rgba(000, 000, 000, 0.25);
	background-color: #ffffff;
	padding: 24px 0px 0px 0px;
}

.container {
	float: left;
	width: 584px;
	padding: 24px 96px 0px 36px;

	ol {
		list-style-type:decimal;
		.body-text;
		padding: 0 0 0 24px;
		margin: 0 0 24px 0;

	}

	ul {
		.body-text;
		padding: 0 0 0 8px;
		margin: -24px 0 24px 0;
		color: #2a2a2a;

		li {

		}
		li:before {
			content: "• ";
    		color: #8c8c8c;
    		font-size: 2em;
    		top:.1em;
    		position: relative;
		}
	}
}

.footer {
	float: left;
	width: 100%;
	padding: 24px 96px 48px 36px;
	background-color: #f2f2f2;
}

.tandc {
	width: 50%;
	float: left;
}

.conduct {
	width: 50%;
	float: left;
	padding-left: 96px;
}

.logo {
	margin:64px 0 16px 100px; 
}

.map-container {

}

.heading-text (@fs: 30px) {
	font-size: @fs;
	font-weight: 600;
	line-height: 24px;
	clear: left;
	margin: 0 0 8px 0;
	color: #8c8c8c;
}

h1 {
  .heading-text;
}
h2 {
  .heading-text(18px);
}
h3 {
  .heading-text(14px);
}

.heading-icon {
	margin-left: -12px;
	padding-left: 48px;
	margin-top: -12px;
	padding-top: 12px;
}

.body-text (@fs: 14px) {
	font-size: @fs;
	line-height: 24px;
	clear: left;
	margin: 0 0 24px 0;
	color: #2a2a2a;
}

p {
	.body-text;
}

.sponsors {
	display: block;
	float: left;
	padding: 0 0 24px 0;
	a {
		display: inline;
	}
}

.platinum {
	width: 100%;
	float: left;

}

.gold {
	width: 66%;
	float: left;
}

.silver {
	width: 33%;
	float: left;
}



aside {
	float: left;
	width: 300px;
	margin: 200px 0 0 0; 

	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		z-index: 5;
		background: url(images/timeline-bg.png);
		background-repeat: repeat-y;
		background-position: 201px;

		li {
			position: relative;
			width: 185px;
			margin-top: -70px;
			background-color: #c299c3;
			-webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.25);
			box-shadow: 0px 4px 12px 0px rgba(000, 000, 000, 0.25);
			font-weight: 600;

			h3 {
				height: 36px;
				line-height: 48px;
				padding: 0 12px;
				margin: 12px 0;
				font-size: 18px;
				color: #5a5a5a;
				font-weight: 600;

				&:before {
				content:'';
				width: 0px;
				height: 0px;	
				border-style: solid;
				border-width: 16px 0 16px 16px;
				border-color: transparent transparent transparent #c299c3;
				display: block;
				position: absolute;
				left: 185px;
				top: 8px;
				padding: 0 0 0 0;
		
				}

			}


			&:nth-of-type(odd) {

				&:before {
				content:'';
				width: 24px;
				height: 48px;	
				
				display: block;
				position: absolute;
				left: -30px;
				top: 0px;
				
				}
			}

			&:nth-of-type(odd) {
			}

			&:first-of-type {
				margin-top: 0;
				&:before {
				content:'';
				
				background-position: -24px 0px;
				
				
				}
			}

			&:last-of-type {

				&:before {
				content:'';
				
				height: 320px;	
				
				background-position: -48px 0px;
				background-color: #ffffff;
				
				
				}
			}

			&:before {
				content:'';
				width: 24px;
				height: 48px;	
				
				display: block;
				position: absolute;
				left: 192px;
				top: 0px;
				background-color: green;
				padding: 0;
				background: url(images/timeline-dots.png);
				background-repeat: no-repeat;
				background-position: 0px 0px;
				
				
			}

			&:nth-of-type(odd) {
				margin-left: 222px;
				h3 {
				&:before {
					content:'';
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 16px 16px 16px 0;
					border-color: transparent #c299c3 transparent transparent;
					display: block;
					position: absolute;
					left: -15px;
					top: 8px;
					padding: 0 0 0 0px;
				}
				}
			}
			&:last-of-type {
				
				&:before {
					
					
				}
			}
			div {
				background-color: #ffffff;
				padding: 12px;
				margin: 0;
				color: #2a2a2a;
				font-size: 14px;
				line-height: 18px;
				font-weight: 300;
				p {
					color: #2a2a2a;
					font-size: 14px;
					line-height: 18px;
					font-weight: 300;


					&:last-of-type {

					}
				}

				img {
					width: 36px;
					outline: none;
				}


			}
		}
	}
}

.schedule {
	float: left;
	width: 300px;
	margin: 200px 0 0 0; 

	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		z-index: 5;
		background: url(images/timeline-bg.png);
		background-repeat: repeat-y;
		background-position: 201px;

		li {
			position: relative;
			width: 185px;
			margin-top: -70px;
			background-color: #c299c3;
			-webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.25);
			box-shadow: 0px 4px 12px 0px rgba(000, 000, 000, 0.25);
			font-weight: 600;

			h3 {
				height: 36px;
				line-height: 48px;
				padding: 0 12px;
				margin: 12px 0;
				font-size: 18px;
				color: #5a5a5a;
				font-weight: 600;

				&:before {
				content:'';
				width: 0px;
				height: 0px;	
				border-style: solid;
				border-width: 16px 0 16px 16px;
				border-color: transparent transparent transparent #c299c3;
				display: block;
				position: absolute;
				left: 185px;
				top: 8px;
				padding: 0 0 0 0;
		
				}

			}


			&:nth-of-type(odd) {

				&:before {
				content:'';
				width: 24px;
				height: 48px;	
				
				display: block;
				position: absolute;
				left: -30px;
				top: 0px;
				
				}
			}

			&:nth-of-type(odd) {
			}

			&:first-of-type {
				margin-top: 0;
				&:before {
				content:'';
				
				background-position: -24px 0px;
				
				
				}
			}

			&:last-of-type {

				&:before {
				content:'';
				
				height: 320px;	
				
				background-position: -48px 0px;
				background-color: #ffffff;
				
				
				}
			}

			&:before {
				content:'';
				width: 24px;
				height: 48px;	
				
				display: block;
				position: absolute;
				left: 192px;
				top: 0px;
				background-color: green;
				padding: 0;
				background: url(images/timeline-dots.png);
				background-repeat: no-repeat;
				background-position: 0px 0px;
				
				
			}

			&:nth-of-type(odd) {
				margin-left: 222px;
				h3 {
				&:before {
					content:'';
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 16px 16px 16px 0;
					border-color: transparent #c299c3 transparent transparent;
					display: block;
					position: absolute;
					left: -15px;
					top: 8px;
					padding: 0 0 0 0px;
				}
				}
			}
			&:last-of-type {
				
				&:before {
					
					
				}
			}
			div {
				background-color: #ffffff;
				padding: 12px;
				margin: 0;
				color: #2a2a2a;
				font-size: 14px;
				line-height: 18px;
				font-weight: 300;
				p {
					color: #2a2a2a;
					font-size: 14px;
					line-height: 18px;
					font-weight: 300;


					&:last-of-type {

					}
				}

				img {
					width: 36px;
					outline: none;
				}


			}
		}
	}

	table { 
		float: left;
		width: 350px;
		-webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.25);
		box-shadow: 0px 4px 12px 0px rgba(000, 000, 000, 0.25);
		margin-bottom: 24px;
		color: #5a5a5a;

		tr {
			&:nth-of-type(odd) { background-color: #c299c3 ; }
			&:nth-of-type(even) { background-color: #ffffff ; }
		}


		td {
			padding: 12px 12px 12px 12px;
			&:first-of-type { border-right: 1px solid #c2c2c2;}
		}
	}
}

.bold {
		font-weight: bold;
}

.social {
	padding-bottom: 80px;
}

.social h1 {
	margin-bottom: 60px;
}
.social a {
	background-color: #c299c3;
	height: 53px;
	width: 53px;
	display: inline-block;
}

.social a span {
	display: none;
	overflow: hidden;
	width: 0;
	height: 0;
}

.twitter {
	background-image: url('images/twitter.png');
	background-repeat: no-repeat;
	margin-left: 60px;
}

.google {
	background-image: url('images/googleicon.png');
	background-repeat: no-repeat;
	margin-left: 80px;
}

.facebook {
	background-image: url('images/facebook.png');
	background-repeat: no-repeat;
	margin-left: 80px;
}

@media only screen and (min-width: 0px) and (max-width: 990px) {
	
	.container {
		width: 514px;
		padding-right: 24px;
	}


}

@media only screen and (min-width: 0px) and (max-width: 800px) {

	.outer-wrapper {
		width: 100%;
	}

	.container {
		float: right;
		width: 100%;
		padding-right: 36px;
	}

	
	aside {
		display: none;
	}

	.tandc, .conduct {
	width: 100%;
	padding: 0;
	}

	.logo {
		position: relative;
		width: 253px;
		margin:24px 0 24px -125px;
		left: 50%;

	}

		.schedule {
		width: 100%;
		padding: 0 24px;
	}

	.schedule table {
		width: 100%;
	}

	.twitter {
		margin-left: 18%;
	}

	.google {
		margin-left: 18%;
	}

	.facebook {
		margin-left: 18%;
	}


}

@media only screen and (max-width: 600px) {

	.container {
		width: 100%;
		padding:24px 12px 0 12px;
	}

	.twitter {
		margin-left: 24px;
	}

	.google {
		margin-left: 0%;
	}

	.facebook {
		margin-left: 0%;
	}

	.social {
		padding-bottom: 48px;
	}

	.social h1 {
		margin-bottom: 24px;
	}
	
}

.timeline {


}

.time-current {
}

.time-update-1 {
	margin-top: -80px;
}

.time-update-2 {
	margin-top: -50px;
}

.time-update-3 {
	margin-top: -50px;
}

.time-camp-12 {
	margin-top: -50px;
}

.time-camp-11 {
	margin-top: -50px;
}

.time-camp-10 {
	margin-top: -50px;
}

.time-camp-09 {
	margin-top: -50px;
}

.time-event-01 {
	margin-top: -50px;
}

.time-event-02 {
	margin-top: -50px;
}

.time-event-03 {
	margin-top: -50px;
}

.time-event-04 {
	margin-top: -50px;
}

.time-event-05 {
	margin-top: -50px;
}